/*Backgrounds*/

$very-dark-blue: hsl(222, 26%, 31%);/* main backbround*/
$very-dark-blue2: hsl(223, 31%, 20%);/*toggle background, keypad background*/
$vary-dark-blue3: hsl(224, 36%, 15%);/*screen background*/

/*Keys*/

$key-dark-blue:hsl(225, 21%, 49%); /*key background*/
$key-dark-blue2:hsl(224, 28%, 35%); /*key shadow*/

$red: hsl(6, 63%, 50%);/*key background, toggle*/
$dark-red:hsl(6, 70%, 34%);/*key shadow*/

$light-gray-orange:hsl(30, 25%, 89%);/*key background*/
$grayish-orange: hsl(28, 16%, 65%); /*key shadow*/


/*Text*/

$very-dark-grayish-blue:hsl(221, 14%, 31%);
$wite: hsl(0, 0, 100%);

